/* Add projects */

/* .project-form input{
    padding: 10px 14px;
    border-radius: 5px;
    box-shadow: none;
    font-size: 15px;
    background-color:black;
    color: white;
  }
  .project-form input :focus{
    box-shadow:none !important;
    background-color: black !important; 
  }

  .project-form  textarea{
    padding: 10px 14px;
    border-radius: 5px;
    box-shadow: none;
    font-size: 15px;
    background-color:black;
    color: white;
  }
  .project-form textarea :focus{
    box-shadow:none !important;
    background-color: black !important; 
  } */

  .project-form .form-control{
    background-color: #121212 !important; 
    box-shadow: none;
    /* border: 1px solid  #ced4da; */
  }

  .project-form .form-control :focus{
    background-color: #121212 !important; 
    box-shadow: none;
    border: 1px solid  blue !important;
  }

  .image-preview {
    min-height: 100px;
    border: 1px solid #ced4da;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: bold;
    color: #cccccc;
  }
  .image-preview-image{
    display: none;
    width: 100%;
  }

  .project-submit-button{
    padding: 5px 10px 5px 10px;
    width: 100px;
    border-radius: 25px;
  }

  .edit-btn{
    padding: 5px 10x 5px 10px;
    display: block;
    background-color: blue;
  }


.project-img {
  width: inherit;
}

#image-2-section, #image-3-section, #image-4-section {
  display: none;
}

.new-project-btn {
  position: fixed;
  right: 15px;
  bottom: 100px;
  border-radius: 50px;
  z-index: 99999;
  width: fit-content;
  height: 40px;
  background-color: #1c84e3;
  color: white;
  font-size: 14px;
  padding: 10px 12px;
  text-decoration: none;
  vertical-align: middle;
}

.new-project-btn:hover {
  color: rgba(255,255,255, 0.6);
}

.new-project-btn i {
  font-size: 18px;
  margin-right: 3px;
}

.published-user-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.published-user-name {
  cursor: pointer;
  color: white!important;
}

.published-user-name:hover {
  color: rgba(255, 255, 255, 0.6)!important;
}

.project-clickable {
  cursor: pointer;
  color: white!important;
}

.project-clickable:hover {
  color: rgba(255, 255, 255, 0.6)!important;
}

.error-text {
  font-size: 12px;
  opacity: 0.8;
}
